header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

a {
  padding-left: 15px;
  text-decoration: none;
  color: black;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#apps {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
}

#bento {
  width: 25px;
  height: 25px;
  margin: -5px;
  padding: 0;
}

#sign-in {
  padding: 4px 14px;
  background-color: #4285f4;
  color: white;
  border: none;
}

button {
  cursor: pointer;
}

#content {
  display: block;
  text-align: center;
  margin: 150px;
}

#search-box {
  width: 500px;
  height: 30px;
  border: 1px solid #bec4ca;
  border-radius: 30px;
  margin: 20px;
}

.search {
  background-color: #f8f9fa;
  border: 1px solid white;
  box-shadow: 0px;
  margin: 20px;
  padding: 10px 20px;
  font-size: 14px;
}

.search:hover {
  animation-name: border-color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes border-color {
  0% {border-color: #3c4043}
  100% {border-color: #3c4043;}
}

